* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #151515;
  color: #FBFCD4;
  font-family: Courier New;
  padding: 8px;
}

.view {
  height: 95%;
}
.hidden {
  display: none;
}



.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  height: 5%;
}

#menu-icon,
.new-chat-icon {
  font-size: 24px;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.message-list {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0 10px;
  border-radius: 5px;
}

.message-list::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

.message-list::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

.message-list::-webkit-scrollbar-thumb {
  background: #ccc; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px;

}

.message-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 0px 5px;
  background-color: #0A0A0A;
  color: #FBFCD4;
}

.send-button {
  padding: 8px;
  background-color: #0A0A0A;
  color: #FBFCD4;
  border: none;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 500px) {
  .chat-container {
    max-width: 100%;
  }

  .title {
    font-size: 16px;
  }

  .message-list {
    height: 200px;
  }
}

#drawer {
  position: fixed;

  top: 0;
  left: -75%; /* Initially hide the drawer off-screen */
  width: 75%;
  height: 100%;
  background-color: #525252;
  transition: left 0.3s ease-in-out;
}

#drawer.open {
  left: 0; /* Slide the drawer in when it's open */
}

.menu-option {
  display: flex;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #000;
  align-items: center;
  justify-content: center;
}


.thought-bubble-post {
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid  #FBFCD4;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  background-color: #0A0A0A;
}

.speaker-icon, .train-icon {
  position: relative;
  top: -8px;
  margin-left: 8px;
}


.profile-picture-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

.post-square {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.post-text {

}

.post-date {

}

.post-media-container img {
  width: 100%;
  height: auto;
}

.interaction-icons i {
  margin-right: 10px;
  cursor: pointer;
}

.post-statistics {
  color: #777;
}

.comments-link {
  color: #777;
}

.interaction-icons i.active {
  color: red; /* Customize the color for the active state */
}

.comment-list {

}
.comment {
  margin-bottom: 8px;
}
.comment-text {
  margin-left: 16px;
}
.comment-input {
  width: 100%;

}


.image-preview-container {
  margin-top: 5px;
  text-align: center;
}

.image-preview {
  max-width: 100%;
  max-height: 200px;
}


.chat-list, .device-list {
  height: 100%;
  overflow-y: auto;
}
.chat-list::-webkit-scrollbar, .device-list::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

.chat-list::-webkit-scrollbar-track, .device-list::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

.chat-list::-webkit-scrollbar-thumb, .device-list::-webkit-scrollbar-thumb {
  background: #ccc; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}
.chat-tile, .device-tile {
  width: 100%;
  height: 96px;
  border: 1px solid #FBFCD4;
  margin: 8px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.survey-form {
  text-align: center;
}
.survey-form label {

}
.survey-form input, .survey-form textarea, .device-form input {
  width: 100%;
  background-color: #0A0A0A;
  color: #FBFCD4;
  border: 1px solid #FBFCD4;
  padding: 8px;
  margin-top: 8px;
}
.survey-form textarea {
  height: 96px;
}
.survey-form button, .device-form button {
  color: #FBFCD4;
  border: 1px solid #FBFCD4;
  padding: 8px;
  background-color: #0A0A0A;
}


.settings-form {
  text-align: center;
}
.settings-form label {

}
.settings-form input, .settings-form textarea {
  width: 100%;
  background-color: #0A0A0A;
  color: #FBFCD4;
  border: 1px solid #FBFCD4;
  padding: 8px;
  margin-top: 8px;
}
.settings-form textarea {
  height: 96px;
}
.settings-form button {
  color: #FBFCD4;
  border: 1px solid #FBFCD4;
  padding: 8px;
  background-color: #0A0A0A;
}

.whisper-frequency {
  --range-track-color: #FBFCD4;
  --range-thumb-color: #FBFCD4;
}
.whisper-frequency::-webkit-slider-thumb {
  background-color: #FBFCD4;
}

.whisper-frequency::-webkit-slider-runnable-track {

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #151515;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #FBFCD4;
  width: 300px;
}

.close {
  color: #FBFCD4;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#chatTitleInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #151515;
  color: #FBFCD4;
}

#createChatBtn {
  width: 100%;
  padding: 10px;
  background-color: #0A0A0A;
  color: #FBFCD4;
  border: 1px solid #FBFCD4;
}
